<!----------   wxs start ----------->
<wxs module="m1">
"use strict";

var getTime = function getTime(time) {
  var date = getDate(time);
  var hour = date.getHours();
  var mins = date.getMinutes();
  var sec = date.getSeconds();
  var milli = date.getMilliseconds();
  return "".concat(hour, ":").concat(mins, ":").concat(sec, ".").concat(milli);
};

module.exports.getTime = getTime;
</wxs>
<!----------   wxs end   ----------->

<view class="container">
  <view class="banner">
    <image src="../assets/v2_q3f290.png" mode="widthFix"></image>
    <view class="address-text">
      <text>地址：</text>
      <text>{{ address }}</text>
    </view>
  </view>
  <view class="list-wrap">
    <card bind_init="_initComponent" wx:for="{{ list }}" wx:for-index="index" wx:for-item="item" wx:key="index" key="{{ index }}" detail="{{ item }}" isHome></card>
  </view>
</view>
